In [1]:
import pandas as pd
from datetime import datetime

In [38]:
df = pd.read_csv("data/scorecards.csv")
drop_cols = ['LayoutName', 'EndDate', 'RoundRating']
filter_courses = ["UNC", "Richmond Hill", "North Cove Disc Golf: River Run", "Cedar Hills Park"]
filter_players = ["Bogdan", "Irat", "Alexey P", "Yulia", "Vova P", "Cody", "Leo", "Pavel", "Andrew", "Nikita", "Kristina", "Olya", "Rocky", "Vova", "Alexey K", "Alex K"]
df.drop(columns=drop_cols, inplace=True)
df = df[~df["CourseName"].isin(filter_courses)]
df["PlayerName"] = df["PlayerName"].str.strip()
df = df[~df["PlayerName"].isin(filter_players)]
df.head()

,PlayerName,CourseName,StartDate,Total,+/-,Hole1,Hole2,Hole3,Hole4,Hole5,...,Hole13,Hole14,Hole15,Hole16,Hole17,Hole18,Hole19,Hole20,Hole21,Hole22
0,Par,Middle Creek DGC,2024-02-04 1907,54,NaN,3,3,3,3,3,...,3,3,3,3,3,3,NaN,NaN,NaN,NaN
1,Artyom,Middle Creek DGC,2024-02-04 1907,61,7.0,6,3,3,2,4,...,4,4,4,3,3,3,NaN,NaN,NaN,NaN
2,Alexey,Middle Creek DGC,2024-02-04 1907,67,13.0,4,3,3,4,4,...,3,4,3,3,4,4,NaN,NaN,NaN,NaN
3,Sergey,Middle Creek DGC,2024-02-04 1907,67,13.0,4,3,3,3,2,...,3,4,4,4,4,3,NaN,NaN,NaN,NaN
4,Par,Middle Creek DGC,2024-01-28 1903,54,NaN,3,3,3,3,3,...,3,3,3,3,3,3,NaN,NaN,NaN,NaN

In [39]:
df["PlayerName"].unique().tolist()

['Par',
 'Artyom',
 'Alexey',
 'Sergey',
 'Roma',
 'Vadim',
 'Bronik',
 'Vova U',
 'Armen']

In [40]:
df.dtypes

PlayerName     object
CourseName     object
StartDate      object
Total           int64
+/-           float64
Hole1           int64
Hole2           int64
Hole3           int64
Hole4           int64
Hole5           int64
Hole6           int64
Hole7           int64
Hole8           int64
Hole9           int64
Hole10          int64
Hole11          int64
Hole12          int64
Hole13          int64
Hole14          int64
Hole15          int64
Hole16          int64
Hole17          int64
Hole18          int64
Hole19        float64
Hole20        float64
Hole21        float64
Hole22        float64
dtype: object